<section class="form">
	<div class="container">
		<h2 class="form__title">ФормКомпозит — российская компания, производящая несущие и крепёжные системы из композиционных стеклопластиков методом пултрузии</h2>
		<div class="form__list">
			<p class="form__text">Наши решения подходят для кабельной прокладки и крепления в агрессивных средах, где не справляются даже металл или бетон:</p>
			<ul class="form__list-wrap">
				<li class="form__list-items">
					<div class="crug"></div>
					<span class="form__list-text">Химическая промышленность</span>
				</li>
				<li class="form__list-items">
					<div class="crug"></div>
					<span class="form__list-text">Энергетическая промышленность</span>
				</li>
				<li class="form__list-items">
					<div class="crug"></div>
					<span class="form__list-text">Металлургическая промышленность</span>
				</li>
			</ul>
		</div>
		<div class="form__picture">
			<div class="form__picture-list">
				<img src="images/nornikel.png" alt="">
				<img src="images/kolskaya.png" alt="">
				<img src="images/rusgidro.png" alt="">
				<img src="images/fosagro.png" alt="">
				<img src="images/gidromontash.png" alt="">
			</div>
		</div>
		<div class="form__button">
			<a href="#" class="form__button-text">
				Подробнее о компании
			</a>
		</div>
	</div>
</section>